[Unit]
Description=Start the wrt_launchpad_daemon
After=launchpad-preload.service

[Service]
EnvironmentFile=/run/tizen-mobile-env
ExecStart=/usr/bin/wrt_launchpad_daemon "                                                                                                                                                                                                         "
KillSignal=SIGKILL
TimeoutStopSec=3s
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
